html {
    background-color: pink;
}
body {
    margin: 0;
}

p {
    color: rgb(48, 103, 255);
}
.titleone {
    color: rgb(255, 0, 140);
    font-size: 20px;
}
.titletwo {
    color: rgb(187, 0, 56);
    font-size: 50px;
    font-weight: bold;
}
.important {
    color: rgb(4, 0, 255);
    font-size: 60px;
    font-weight: bold;
}
.imageyay {
    width: 200px;
}
#home {
    background-color: black;
    height: 100px;
    padding: 10px;
    font-size: 30px;
}
.pageTitle {
    color: rgb(255, 0, 140);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}